/* controls whole contianer with map and events */
.home-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  height: 100%;
  width: 100%;
  padding-top: 10px;
}

.title-container {
  width: 100%;
  text-align: left;
  margin-bottom: 5%;
}

.event-container {
  width: 30%;
  text-align: center;
  margin-left: 4%;
}
