
.container {
  width: 85%;
  height: 830px;
  display: flex;
  left: -2%;
  border: 10px solid #172f5e;
  margin-right: 2%;
}

.start-button {
  width: 20%;
  height: 40px;
  background-color: hsl(220, 61%, 23%);
  font-size: larger;
  font-family: Tahoma, sans-serif;
  color: white;
  border: 3px solid #172f5e;
  border-radius: 15px;
  margin-top: 0.5%;
  margin-bottom: 3%;
  margin-left: 6%;
  transition-duration: 0.4s;
}

@keyframes shrink {
  from{
    width: 20%;
    height: 40px;
    border-radius: 15px;
    margin-top: 0.5%;
    margin-bottom: 3%;
    margin-left: 6%;
  }
  to{
    font-size: small;
    width: 60px;
    height: 60px;
    transform: translateX(10px) scale(0.5);
    border-radius: 50%; 
    opacity: 0;
  }
}

.start-button.afterShrink {
  animation: shrink 0.8s ease;
}
.start-button:active {

  transform: scale(0.8);
  padding:15px 20px 15px 30px;
}


.start-button:hover {
  background-color: #eaeeff;
  color: black 
}

.outercontainer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

 
.marker::after {
  content: "";
  width: 40px;
  height: 40px;
  border: 2px solid #ff0000;
  border-radius: 50%;
  position: absolute;
  top: -22px;
  left: -22px;
  animation: ping 1.5s infinite;
  z-index: 0;
}



@keyframes ping {
  0% {
    transform: scale(0.5);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
} 


.toggle-button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 20px;
  background-color: #172f5e;
  color: white;
  border: none;
  border-radius: 5px;
}

