/* resize map */
.container {
  width: 85%;
  height: 790px;
  display: flex;
  right: 5%;
  left: 2%;
  border: 10px solid #172f5e;
}

.start-button {
  width: 20%;
  height: 40px;
  background-color: #172f5e;
  font-size: larger;
  font-family: Tahoma, sans-serif;
  color: white;
  border: none; /* Removes default border */
  border-radius: 15px; /* Rounds the corners */
  margin-top: 0.5%;
  margin-bottom: 2%;
  margin-left: 5%;
}

.start-button:hover {
  background-color: #394e6f; /* Darker shade of the original color */
}


/* controls pairit title map and startbutton */
.outercontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

 
.marker::after {
  content: "";
  width: 40px;
  height: 40px;
  border: 2px solid #ff0000;
  border-radius: 50%;
  position: absolute;
  top: -22px;
  left: -22px;
  animation: ping 1.5s infinite;
  z-index: 0;
}

@keyframes ping {
  0% {
    transform: scale(0.5);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
} 



