.style {
  font-size: 250%;
  font-weight: bold;
  color: #172f5e;
  /* margin-top: 10px;
  margin-bottom: 10px; */
  text-align: center;
  font-family: Tahoma, sans-serif;
  /* position: fixed; */
}

.eventtitlestyle {
  font-size: 200%;
  font-weight: bold;
  color: #172f5e;
  margin-top: 13%;
  margin-bottom: 5%;
  text-align: center;
  font-family: Tahoma, sans-serif;
  /* position: fixed; */
}
