.voice-recorder-container {
  display: fixed;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.recording-button {
  position: fixed;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.radio-button {
  font-size: 80px; /* Control size via CSS */
  left: 0px;
  transition: color 0.3s ease; /* Smooth color transition */
}

.radio-button.recording {
  color: red; /* Color when recording */
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0% {
    opacity: 100%;
  }
  100% {
    opacity: 25%;
  }
} 

.radio-button.not-recording {
  color: #ffffff; /* Color when not recording */
}

.mic-icon {
  font-size: 50px; /* Control size via CSS */
  position: fixed;
  transition: color 0.3s ease; /* Smooth color transition */
}

.mic-icon.recording {
  color: red; /* Color when recording */
}

.mic-icon.not-recording {

  color: white; /* Color when not recording */
}
